.order-page {
  &__title {
    font-size: 36px;
    margin-bottom: 32px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 52px;
  }

  &__submit {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    border-radius: 8px;
    padding: 6px 8px;
    width: 120px;
    text-align: center;
    margin: 0 auto;
  }
}
