.loading-screen {
  background-color: var(--tg-theme-bg-color);
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  z-index: 10;
  overflow: hidden;

  &::before {
    background-image: url(../../assets//images/back.png);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.45;
    z-index: -1;
  }

  &__image {
    width: 150px;
    height: 150px;
  }

  &__text {
    font-size: 32px;
  }
}
