.cart-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 165px;
  overflow-y: auto;
  margin-bottom: 32px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &--remove {
      position: absolute;
      right: 0;
      top: 0;
      background-color: transparent;
      border: none;
      display: block;
      border: none;
      outline: none;
      cursor: pointer;
    }

    &--info {
      display: flex;
      gap: 16px;
    }

    &--descr {
      font-size: 24px;
    }

    &--options {
      font-size: 20px;
      color: #909090;
      width: 195px;
      display: block;
    }

    &--price {
      font-size: 20px;
    }
  }
}
