.product-item {
  &__chapter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 32px;
    margin: 0;
  }

  &__inner {
    background-color: var(--tg-theme-bg-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px 20px 56px 20px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
  }

  &__price {
    font-size: 30px;
  }

  &__param {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__point {
    font-size: 30px;
  }

  &__point span {
    color: #909090;
  }

  &__descr p {
    margin: 0;
  }

  &__label {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__btn {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    border-radius: 8px;
    padding: 6px 0;
  }
}
